/** CSS written by bugswriter, use freely */
@font-face {
    font-family: "Hack";
    src: url(../fonts/Hack-Regular.ttf);
}

@font-face {
    font-family: "Kingthings Foundation";
    src: url(../fonts/Kingthings-Foundation.ttf);
}

body{
    max-width: 900px;
    margin: auto;
}


p{
    text-align: justify;
}

hr{
    color: white;
    margin-top: 10px;
}

pre {
    font-family: "Hack";
    padding: 1%;
    border-radius: 20px;
}

a{
    text-decoration: none;
}
a:hover {
    font-style: italic;
}

footer span{
    text-align: center;
    margin-top: 0.5em;
}

header {
    text-align: center;
}
header h1 {
    font-size: 300%;
}

header nav a{
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
}

table th{
    background-color: purple;
    color: white;
}
tr, th, td{
    border: 1px solid black;
    padding: 0.3em;
}

header, footer {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
header h1{
    font-family: "Kingthings Foundation";
}

header h1 span{
    color: purple;
}

article {
    width: fit-content;
    text-align: center;
    padding: 0.5em;
}

ul { text-align: left; }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

blockquote {
    font-style: italic;
}


aside{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: fit-content;
    max-width: 350px;
    text-align: center;
}
aside blockquote {
    font-size: 0.8em;
}

aside img{
    padding: 0.1em;
    border-radius: 20px;
    vertical-align: top;
    width: 45%;
}

#blog ul, #blog ol{
    padding-left: 4%;
    padding-right: 4%;
}

#blog img{
    max-width: 600px;
}

p:has(> img){
    text-align: center;
}

@media (max-width:1000px)  {
    body {
        font-size: 80%;
        padding: 3%;
    }
    #blog img{
        max-width: 80%;
    }
}

@media (max-width:1600px)  {
    body {
        font-size: 90%;
        padding: 1%;
    }
    aside {
        display: none;
    }
}












#anime{
	padding: 0.1em;
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	width: fit-content;
	margin-left: 0.1em;
	max-width: 200px;
}

#head-doll{
	max-width: 50px;
	margin-right: 0.2em;
}

#head-comp{
	width: fit-content;
	max-width: 70px;
	margin-left: 0.3em;
}

#computer{
	position: absolute;
	bottom: 0.5em;
	right: 0.1em;
	width: fit-content;
	max-width: 250px;
}

#game-box{
	width: fit-content;
	max-width: 150px;
}



@media (max-width:1400px){
	#anime {
		display: none;
	}
	#dancing-doll{
		display: none;
	}
	#computer{
		display: none;
	}
	#head-doll{
		display: none;
	}
	#head-comp{
		display: none;
	}
}














