{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ section.title }} -</h1>
<div id="blog-list">
  <blockquote>
    They first make you sign in, then they'll push you to make your first small purchase, And that's how the trap begins.
  </blockquote>
  {% for page in section.pages %}
  <div id="blog-summary">
    <h3><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
    <code>{{ page.date }}</code>
    {{ page.summary | safe }}
    <a href="{{ page.permalink | safe }}">continue reading...</a>
  </div>
  {% if page.title != "First Blog" %}
    <hr>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}
