{% extends "base.html" %}

{% block content %}

<p>
    I am Dhruv Soni, aka dhruvcodes. I am a 19 old guy from India, who loves Computers and Softwares. I am also a Computer Science Student and using Linux Box.
</p>

<p>
    This is a place where I show my interests, express my thoughts and opinions on various topics with hopes of improving my skills of putting them into writing. I choose to build a website for this because of the freedom that a personal webpage offers.
</p>

<article>
    <h3>Website Guide</h3>
    <ul>
      <li>Learn About <a href="https://github.com/quickcodes/college/blob/master/BCA_5sem/study.md">IT</a> in easy Language.</li>
      <li>My <a href="https://dhruvcodes.me/blog">Blogs</a></li>
      <li>If you find this website ugly - <a href="http://motherfuckingwebsite.com">It's minimal</a>.</li>
      <li>This website was started on 19-Sep-2022.</li>
    </ul>
	<span>
		<img id="game-box" alt="" src="/custom_img/game_box.gif" >
	</span>
</article>

{% endblock content %}
